footer {
    background-color: var(--white);
    border-radius: 16px;
    box-shadow: inset 0 0 0 2px var(--font-color8);
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    padding-block-start: 10px
}