@import '/src/assets/icons/icomoon/style.css';

:root {
    --h2: 600 1.625rem Poppins;
    --gray10: #F3F6F6;
    --gray20: #E3E3E3;
    --white: #FFFFFF;

    --colorBox1: #FFF4F4;
    --colorBox2: #EEF5FA;
    --colorBox3: #FFF1FB;
    --colorBox4: #F2F4FF;
    --colorBox5: #FEFAF0;
    --colorBox6: #FFF0F8;

    --font-color1: #b578ff;
    --font-color2: #f06d8f;
    --font-color3: cadetblue;
    --font-color4: #1da1f2;
    --font-color5: #269fff;
    --font-color6: #ff75d8;
    --font-color7: #ff6080;
    --font-color8: #b578ff;
    --font-color9: #dda10c;
    --font-color10: #3e32ee;
    --font-color11: #0A66C2;

    --hover: rgb(250, 176, 196);
}

body {
    background-image: url(/src/assets/images/bg.jpg);
    background-repeat: repeat;

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}